.error-title {
  font-size: 35px;
  margin-bottom: 15px;
  color: white;
}

.error-message {
  color: #fee123;
}

@media (min-width: 768px) {
  .error-title {
    font-size: 42px;
  }
  .error-message {
    font-size: 18px;
  }
}
